<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ecard</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script>
        <script> 
        $(function(){
            $("#header").load("header.html");
            $("#leftframe").load("leftframe.html");  
            $("#footer").load("footer.html"); 
            });
        </script>
        		<style type="text/css">
                    .grid table {
                        width: 500px;
                        text-align: center;
                        border-collapse: collapse;
                    }
        
                    .grid tr th {
                        background-color: orange;
                    }
        
                    .grid tr td {
                        border: 1px dashed orange;
                    }
        
                    h1 {
                        margin-left: 15%;
                    }
        
                    .book {
                        border-bottom: 1px dashed greenyellow;
                        background-color: orange;
                        width: 500px;
                        padding: 10px 0px 10px 0px;
                    }
        
                    .grid {
                        margin-left: 30%;
                    }
                </style>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">誼卡科技</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="搜尋..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">設定</a></li>
                        <li><a class="dropdown-item" href="#!">活動紀錄</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">登出</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="leftframe"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div id="app">
                        <div class="grid">
                            <div>
                                <h1>設備管理</h1>
                                <div class="book">
                                    <div>名稱：<input type="text" v-model="goods.book_name" /></div>
                                    <div>狀態：<input type="text" v-model="goods.book_author" /></div>
                                    <div>描述：<input type="text" v-model="goods.book_desc" /></div>
                                    <div><button type="button" @click="handle">提交</button></div>
                                    <div><button type="button" @click="updateBtn">修改</button>
                                    </div>
                                </div>
                            </div>
            
                            <table>
                                <tr>
                                    <th>編號</th>
                                    <th>名稱</th>
                                    <th>狀態</th>
                                    <th>描述</th>
                                    <th>操作</th>
                                </tr>
                                <tr :key='item.id' v-for="item in books">
                                    <td>{{item.id}}</td>
                                    <td>{{item.book_name}}</td>
                                    <td>{{item.book_author}}</td>
                                    <td>{{item.book_desc}}</td>
                                    <td><a href="" @click.prevent="editBtn(item.id)">编辑</a>
                                        <span>|</span>
                                        <a href="" @click.prevent="deleteBook(item.id)">删除</a></td>
                                </tr>
            
                            </table>
                        </div>
                    </div>
                </main>
                <div id="footer"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
			axios.defaults.baseURL = 'http://localhost:8080';
			axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
			const app = new Vue({
				el: '#app',
				created() {
					this.getBooks()
				},
				data: {
					books: [],
					goods: {
						id: '',
						book_name: '',
						book_author: '',
						book_desc: ''
					}
				},
				methods: {
					// 获取数据表所有信息
					async getBooks() {
						const {
							data: res
						} = await axios.get('/books')
						this.books = res
						console.log(this.books);
					},
					// 添加数据
					async handle() {
						const {
							data: res
						} = await axios.post('/books', this.goods)
						this.getBooks()
					},
					//删除数据
					async deleteBook(id) {
						const {
							data: res
						} = await axios.delete(`/books/${id}`)
						console.log(res);
						this.getBooks()
					},
					//编辑数据 通过id获取数据
					async editBtn(id) {
						const {
							data: res
						} = await axios.get(`/books/${id}`)
						console.log(res);
						this.goods = res[0]
					},
					//修改按钮 时完成修改
					async updateBtn() {
						const {
							data: res
						} = await axios.put('/books/edit/' + this.goods.id, this.goods)
						this.getBooks()
					}
				}
			})
		</script>
    </body>
</html>
