<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">誼卡科技 版權所有</div>
            <div>
                <a href="#">隱私政策</a>
                &middot;
                <a href="#">使用者條款</a>
            </div>
        </div>
    </div>
</footer>
