<html>
  <head>
   <title></title>
  <script type="text/javascript">
    window.onload = startInterval;
    function startInterval()
    {
        setInterval("startTime();",1000);
    }
    
    function startTime()
    {
        document.getElementById('time').innerHTML = Date();  
    }
  </script>
  </head>
  <body>  
            <div id="time"></div>
  </body>
</html>