<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>JS Bin</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0-rc.2/Chart.js"></script>
</head>

<body>
    <canvas id="updating-chart" width="500" height="200"></canvas>
    <script>
        var canvas = document.getElementById('updating-chart'),
            ctx = canvas.getContext('2d'),
            startingData = {
                labels: [1, 2, 3, 4, 5, 6, 7],
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };

        // Reduce the animation steps for demo clarity.
        var myLiveChart = new Chart(ctx, {
            type: 'line',
            data: startingData
        });


        setInterval(function () {
            // Get a random index point
            var indexToUpdate = Math.round(Math.random() * startingData.labels.length);

            // Update one of the points in the second dataset
            myLiveChart.data.datasets[0].data[indexToUpdate] = Math.random() * 100;

            myLiveChart.update();
        }, 500);
    </script>
</body>

</html>